body{
  background-color: #14213D;
  font-family: Garamond;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
textarea{
  width:35vw;
  height: 40vh;
  background-color: #B9E8F4;
  color: #0F4C5C;
  border-radius:10px;
}
textarea::placeholder{
    color:#0F4C5C;
	font-style: bold;
}
#counterFooter {
  margin-top: 0.2rem;
  font-size:0.8rem;
  color: #B9E8F4;
  margin-left:30%;
  font-family: Garamond;
}
a{
	text-decoration: none;
	color: #0F4C5C;
}

button{
  width:35vw;
  background-color: #B9E8F4;
  border-radius: 10px;
  padding: 0 10%;
}
button h2{
    color: #fff;

}

button:hover{
	color: #14213D;
	background-color: #FCA311;
}
.buttonDisabled {
   opacity: .5;
   cursor: default;
}
