html, body {
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #000000;
}

.container {
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9DCD6;
    height: 100vh;
}

.card {
	margin: 0 0 0 30%;
    height: 500px;
    width: 40vw;
    font-size: 1.4rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
    color: #484e4a;
}

.page {
    width: 100%;
    height: 500px;
    perspective: 1500px;
}

.page_1 {
	background-image: linear-gradient(#00416a 80%, #009A17 100%);
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 1s 0.3s;
    transform-origin: 0 50%;
    z-index: 2;
}
.page_1::after {
	content: "";
    color: #fff;
    position: absolute;
    padding-top: 1.5rem;
    top: 0;
    left: 0;
    background-image: linear-gradient(#00416a 75%, #009A17 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transform: rotateY(180deg);
    transition: all 0.3s 0.5s;
	
}

.page_1::after .sun{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.page_2 {
    background-image: linear-gradient(#00416a 78%, #009A17 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}
.page:hover .page_1 {
    transform: rotateY(-180deg);
    box-shadow: 1.5rem 2rem 3rem rgba(0, 0, 0, 0.25);
}
.page:hover .page_1::after {
    opacity: 1;
}

h1{
	color: #fff;
}

p{
	color: #fff
}

.headSun{
	position: fixed;
	width: 150px;
	height: 150px;
	color: yellow;
}

.sun{
	height: 75px;
    width: 75px;
    background-color: yellow;
    border-radius: 50%;
	display: inline-block;
	margin: 25px 0;
}

/*Sunflower*/

#position{
	position:fixed;
	top: 55%;
	left: 7%;
}
.sunflower{
  position:relative;
  height:30px;
  width:30px;
}
.head {
  animation: hmove 3s infinite linear;
  height: 50px;
  width: 62px;
  position: relative;
  left:8px;
  top:39px;
  transform-origin: 50% -7px;
  user-select: none;
}

.petals {
  z-index:-1;
  border-radius:100%;
  display:inline-block;
  background-color:#faaa18;
  height:50px;
  width:50px;
  position:absolute;
  animation:petals 3s infinite linear;
  box-shadow:15px 17px #ffe000,
    -15px 17px #ffe000,
    -22px -7px #ffe000,
    0px -22px #ffe000,
    22px -7px #ffe000;
}
.trunk{
	height: 65px; width: 5px;
	background:#77b039;
	left: 37px;top:100px;
	position:absolute;
	z-index:-2;
	animation:trunk 3s infinite linear;
}
.leftLeaf{
	background: #77b039;
	height: 35px; width: 9px;
	position: absolute; left: -12px; top: 24px;
	border-radius:100% 0% 0% 0%;
	-webkit-border-radius:100% 0% 0% 0%;
	-moz-border-radius:100% 0% 0% 0%;
	-ms-border-radius:100% 0% 0% 0%;
	-o-border-radius:100% 0% 0% 0%;
	
	transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
}

.rightLeaf{
	background: #77b039;
	height: 35px; width: 9px;
	position: absolute; top: 24px; left: 10px;
	border-radius:0% 100% 0% 0%;
	-webkit-border-radius:0% 100% 0% 0%;
	-moz-border-radius:0% 100% 0% 0%;
	-ms-border-radius:0% 100% 0% 0%;
	-o-border-radius:0% 100% 0% 0%;
	
	transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
}
.vase{
   position:absolute;
   top:165px;
   left:13px;
   height: 0; 
   width: 38px;
   border-top: 45px solid #faaa18;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
}
.vase:before,.vase:after {
	content: '';
	position: absolute;
	background: #faa118;
}
.vase:before{
	background: #f9a018;
	width: 58px; height: 20px;
	top: -50px; left: -10px;
	position:absolute;
	box-shadow: 0 5px 10px -9px black;
	-moz-transform: 0 5px 10px -9px black;
	-ms-transform: 0 5px 10px -9px black;
	-o-transform: 0 5px 10px -9px black;
}

@keyframes petals {
	0% {transform: rotate(0);left:10px;}
	25% {left:20px;}
	50% {left:10px;}
	75% {left:20px;}
	100% {transform: rotate(360deg);left:10px;}
}
@keyframes hmove {
	0% {left:5px;}
	25% {left:15px;}
	50% {left:5px;}
	75% {left:15px;}
	100% {left:5px;}
}

@keyframes trunk {
	0% {left:34px;transform:rotate(-5deg);}
	25% {left:40px;transform:rotate(5deg);}
	50% {left:34px;transform:rotate(-5deg);}
	75% {left:40px;transform:rotate(5deg);}
	100% {left:34px;transform:rotate(-5deg);}
}

/*Sunflower Two*/

#positionTwo{
	position:fixed;
	top: 55%;
	left: 37%;
}
.sunflowerTwo{
  position:relative;
  height:30px;
  width:30px;
}
/*Sunflower Three*/
#positionThree{
	position:fixed;
	top: 55%;
	left: 67%;
}

.sunflowerThree{
  position:relative;
  height:30px;
  width:30px;
}

/*Cloud*/

.containerCloud{
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

#cloud {
	width: 175px;
	height: 60px;
	background: #f2f9fe;
	background: -moz-linear-gradient(to top,  #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#f2f9fe), color-stop(100%,#d6f0fd));
	background: -webkit-linear-gradient(to top,  #f2f9fe 5%,#d6f0fd 100%);
	background: -o-linear-gradient(to top,  #f2f9fe 5%,#d6f0fd 100%);
	background: -ms-linear-gradient(to top,  #f2f9fe 5%,#d6f0fd 100%);
	background: linear-gradient(to top,  #f2f9fe 5%,#d6f0fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
	position: relative;
	margin: 120px auto 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
  -webkit-animation: mover 3.5s infinite  alternate;
  animation: mover 3.5s infinite  alternate;
}

#cloud:after, div#cloud:before {
	content: '';
	position: absolute;
	z-indeX: -1;
	background: #f2f9fe;
}

#cloud:after {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: -25px;
	left: 25px;
}

#cloud:before {
	width: 90px;
	height: 90px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	top: -45px;
	right: 25px;
}

.shadow {
	width: 175px;
	position: absolute;
	bottom: -80px;
	background: black;
	z-index: -1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
}

.rain {
  position : absolute;
  height : 80%;
  width : 100%;
  color: #002266;
}

.drop {
  position : absolute;
  background : linear-gradient(#000000, #ffffff);
  opacity: 2;
  top : 25px;
}

.d1 {
  left : 97%;
  width : 1%;
  height : 5%;
  animation : fall .94s linear 0.69s infinite;
}

.d2 {
  left : 18%;
  width : 1%;
  height : 5%;
  animation : fall .98s linear 0.57s infinite;
}
.d3 {
  left : 38%;
  width : 1%;
  height : 5%;
  animation : fall .66s linear .60s infinite;
}

.d4 {
  left : 64%;
  width : 1%;
  height : 5%;
  animation : fall .69s linear .76s infinite;
}

.d5 {
  left : 95%;
  width : 1%;
  height : 5%;
  animation : fall .75s linear .56s infinite;
}

.d6 {
  left : 65%;
  width : 1%;
  height : 5%;
  animation : fall .75s linear .92s infinite;
}

.d7 {
  left : 19%;
  width : 1%;
  height : 5%;
  animation : fall .92s linear .72s infinite;
}

.d8 {
  left : 55%;
  width : 1%;
  height : 5%;
  animation : fall .84s linear .99s infinite;
}

.d9 {
  left : 35%;
  width : 1%;
  height : 5%;
  animation : fall .79s linear .53s infinite;
}

.d10 {
  left : 83%;
  width : 1%;
  height : 5%;
  animation : fall .82s linear .97s infinite;
}

.d11 {
  left : 8%;
  width : 1%;
  height : 5%;
  animation : fall .75s linear .56s infinite;
}

.d12 {
  left : 1%;
  width : 1%;
  height : 5%;
  animation : fall .60s linear .59s infinite;
}

.d13 {
  left : 13%;
  width : 1%;
  height : 5%;
  animation : fall .5s linear .5s infinite;
}

.d14 {
  left : 13%;
  width : 1%;
  height : 5%;
  animation : fall .80s linear .63s infinite;
}

.d15 {
  left : 13%;
  width : 1%;
  height : 5%;
  animation : fall .68s linear .75s infinite;
}

@-webkit-keyframes fall {
	to {margin-top:150px; opacity:0;}
}
@keyframes fall {
	to {margin-top:150px; opacity:0;}
}

@-webkit-keyframes mover {
    0% { transform: translateY(1rem); }
    100% { transform: translateY(2.6rem); }
}
	