html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30%;
    margin: 5px auto;
    background: white;
    border-radius: 10px;
    padding: 3em;
}

body {
    background-color: orange;
    height: 100vh;

}

.beachBD{
    background-color: #80ffdb;
    background-size: cover;
}


#name {
    font-size: 50px;
    text-align: center;
}

.beachLink{
    text-align: center;
}

button {
    padding: 1em 2em;
    border: none;
    font-size: 1.2rem;
    background: lightblue;
    border-radius: 999px;
}

button:hover {
    cursor: pointer
}

.styles{
    display: flex;
    flex-direction: column;
}

/*Beach Styles */

.containerBeach{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 60vh;
}

#beachBtn{
    color: #ccc4b7;
    background-color: #004e89;
    font-size: 1.5rem;
    font-family: "Trebuchet MS";
}


.beachHeader{
    text-align: center;
    flex-grow: 2;
    margin-left: 5rem;
    font-size:  3.5rem;
    font-family: Helvetica;
    -webkit-text-stroke: 2px black;
    color: rgba(0, 0, 0, 0);
}

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fas{
    text-decoration: none;
    color: #000;
    margin:  0 2rem 0 0;
}

.creditInfo{
    background: transparent;
}

/*Modal*/
.modalBox{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;   
    width:  100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 1.6;
}

.credit{
  background-color: #CFF2E6;
  color:  #0C1D16;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 45%;
}

.close{
    color: #aaa;
    float:  right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style-type: none;
}

.creditH3{
    text-align: center;
}