html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0E0B33;
	color: #00A0CC;
}

.mainContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn{
	margin: 10px auto;
	height: 75px;
	font-size: 26px;
	font-weight: bold;
	background: #00A0CC;
	color: #0E0B33;
	border: none;
	border-radius: 10px;
	box-shadow: 0 6px #004052;
}

.btn:active{
	box-shadow: 0 2px #004052;
	transform: translateY(2px);
}


#dessert{
	display: block;
	margin: 50px auto;
	width: 70%;
	border-radius: 25px;
}	

#dessertTxt{
	font: 26px sans-serif;
}