* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
	background-color: #005068;
}

h1 {
    margin: 0 0 1em;
}

.llamaParagraph{
    max-width: 55ch;
}

.mainContainer{
	background-color: #e6f9ff;
    width: 70%;
	min-height: 100%;
    margin: 10px auto 0;
    max-width: 800px;
    padding: 0 1em 2em;
    display: flex;
    flex-direction: column;
	color: #005068;
	
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #e0ccff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	
}

.overlay{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #343434;
    opacity:0.3;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.linkContainer{
	margin: 20px 0 0 0;
}

.nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
	cursor: pointer;
}

.closebtn{
	text-decoration: none;
	color: black;
	margin: 5px 0 0 0;
}

.nav-link:hover {
	background-color: hotpink;
	color: white;
}

.closebtn:hover{
	color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.imgSrc{
	color: #e6f9ff;
	font-size: 1em;
	font-family: Helvetica;
}

.imgLink{
	color: #e6f9ff;
	text-decoration: none;
	font-weight: bold;
}

.llamaImg{
	width: 100%;
    min-height: 55vh;
    margin-top: 2em;
}

.openBtn{
	float:right;
	font-size:30px;
	color:black;
	cursor:pointer;
	padding:7px 14px 7px 0
}

.openBtn:hover{
	color: hotpink;
	cursor: pointer;
}
