* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
	background: hotpink;
}

.container {
    display: grid;
    grid-gap: 1em;
    background: hotpink;
	margin: 0 auto;
	justify-content: center;
}

.title {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0;
    font-size: 48px;
    font-family: 'Nova Mono', monospace;
	color: #31004E;
}

.btn {
    border:none;
    padding: 32px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
    -moz-box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
    background-color: 	#fbf7f5;
	width: 200px;
	height: 150px;
	margin: auto;
}

.btn:hover,
.btn:focus {
    background-color: #f0e2db;
}

@media only screen and (min-width: 600px){
	.container{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 1em;
		height: 100vh;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 768px) {
	.container {
    display: grid;
    padding: 1em;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    height: 100vh;
	margin: 0 auto;
	}
	
	.btn{
	}
}


@media only screen and (min-width: 992px){
	
	.btn{
		min-width: 200px;
	    min-height: 150px;

	}
}