html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
	background-color: #162F3B;
	animation: changeColor 5s infinite;
	animation-direction: alternate;
}

@keyframes changeColor {
  from {background-color: #162F3B;}
  to {background-color: #EBE4F1;}
}

.calculator{
	margin: 15px auto;
	width: 55%;
	max-width: 450px;
	background: hsl(300, 100%, 5%);
	padding: 0 0 15px 0;
	color: #F5F2F8;
	border: 2px solid hsl(300, 100%, 5%);
	border-radius: 15px;
}
/* grid areas*/


#add, #sub, #mult, #divi, #ac, #dec, #equal{
	border: 2px solid #F5F2F8;
	border-radius: 15px;
}
#add{
	grid-area: add;
}

#sub{
	grid-area: sub;
}

#mult{
	grid-area: mult;
}

#divi{
	grid-area: divi;
}

#gridItem1{
	grid-area: one;
}

#gridItem2{
	grid-area: two;
}

#gridItem3{
	grid-area: three;
}

#gridItem4{
	grid-area: four;
}

#gridItem5{
	grid-area: five;
}

#gridItem6{
	grid-area: six;
}

#gridItem7{
	grid-area: seven;
}

#gridItem8{
	grid-area: eight;
}

#gridItem9{
	grid-area: nine;
}

#gridItem0{
	grid-area: zero;
}

#dec{
	grid-area: dec;
	color: #F5F2F8;
}

#equal{
	grid-area: equals;
	color: #F5F2F8;
}

#ac{
	grid-area: ac;
	color: #F5F2F8;
}

.calculatorKeys{
	display: grid;
	grid-template-areas:
    "add sub mult divi"
	"seven eight nine equals"
	"four five six equals"
	"one two three equals"
	"zero dec ac equals"
	;
	grid-gap: 20px;
	margin: 0 15px;
}
/*end grid*/

.calculatorScreen{
	width: 95%;
	background-color: white;
	font-size: 5rem;
	height: 80px;
	text-align: right;
	margin: 15px 10px;
	padding: 0 20px 0 10px;
	color: hsl(300, 100%, 5%);
	border: 1px solid hsl(300, 100%, 5%);
	border-radius: 15px;
}

.gridItem{
	height: 60px;
	background-color: transparent;
	border: 2px solid #F5F2F8;
	border-radius: 15px;
	font-size: 2em;
	color: #F5F2F8;
}

.gridItem:hover, #equal:hover, #dec:hover, #ac:hover{
	background-color: #F5F2F8;
	color: hsl(300, 100%, 5%);
	border: 2px solid hsl(300, 100%, 5%);
}

.gridItem:active, #equal:active, #dec:active, #ac:active{
	background-color: green;
}

.operator, .function{
	background-color: #fff;
	border: 1px solid #c4c4c4;
	background-color: transparent;
}