html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

body,
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    height: 300px;
    padding: 2em;
    border:  5px solid #282f43;
    border-radius: 45%;
    background-color: hsl(223, 78%, 94%);
}

.loader {
    height: 100px;
    width: 100px;
    border: 16px solid #282f43;
    border-top: 16px solid #5eecd6;
    border-bottom: 16px solid #282f43;
    border-radius: 50%;
}

.gateSpin{
    animation: gateSpin 2s linear infinite;
}

@keyframes gateSpin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

button { 
    border: 3px solid black;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 5px;
}

button:hover,
button:focus {
    cursor: pointer;
}

.timer{
    margin: 10px 0 0 0;
}